body {
    box-sizing: border-box;
    margin: 0%;
}
.HeroSection {
    background-color: #A8A8AA;
    height: 550px;
    width: 100%;
}
.Section-One {
    background-color: #093b3b;
    height: 150px;
    width: 100%;
}
.Section-Two {
    background-color: #000000;
    height: 600px;
    width: 100%;
}
.Section-Three {
    background-color: #424040;
    height: 580px;
    width: 100%;
}
.Section-Four {
    background-color: #17B86A;
    height: 600px;
    width: 100%;
}
.Footer {
    background-color:#f7ebebe1;
    height:380px;
    width:100%;
    Padding: 90px 40px;
}



